# Filtering
Copyright (c) Microsoft Corporation. All rights reserved.<br>
Licensed under the MIT License.

DataPrep has the ability to filter out columns or rows using `Dataflow.drop_columns` or `Dataflow.filter`.

In [1]:
# initial set up
import azureml.dataprep as dprep
from datetime import datetime
dataflow = dprep.read_csv(path='https://dprepdata.blob.core.windows.net/demo/green-small/*')
dataflow.head(10)

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,Column21,Column22
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0,0,0,0,1,...,0,0,0,0,,21.25,2,,,
2,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0,0,0,0,2,...,0,0.5,0,0,,75,2,,,
3,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0,0,0,0,1,...,0.1,0,0,1,,2.1,2,,,
4,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0,0,0,0,1,...,0,0,0,0,,3.25,2,,,
5,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,0,0,0,0,1,...,0,0.5,0,0,,9,2,,,
6,2,2013-08-01 14:33:39,2013-08-01 15:49:00,N,1,0,0,0,0,1,...,0,0.5,0,0,,9.5,2,,,
7,2,2013-08-01 17:19:00,2013-08-01 17:19:00,N,1,0,0,0,0,1,...,1,0.5,0,0,,4,2,,,
8,2,2013-08-01 17:22:00,2013-08-01 17:22:00,N,1,-73.937767028808594,40.758480072021484,-73.937767028808594,40.758480072021484,1,...,1,0.5,0,5.33,,9.33,2,,,
9,2,2013-08-01 17:24:00,2013-08-01 17:25:00,N,1,-73.93792724609375,40.757843017578125,-73.93792724609375,40.757843017578125,1,...,1,0.5,0,1.11,,5.11,2,,,

## Filtering columns

To filter columns, use `Dataflow.drop_columns`. This method takes a list of columns to drop or a more complex argument called `ColumnSelector`.

### Filtering columns with list of strings

In this example, `drop_columns` takes a list of strings. Each string should exactly match the desired column to drop.

In [2]:
dataflow = dataflow.drop_columns(['VendorID', 'Store_and_fwd_flag', 'RateCodeID', 'Fare_amount', 'Extra', 'MTA_tax', 'Ehail_fee', 'Payment_type', 'Trip_type'])
dataflow.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Tip_amount,Tolls_amount,Total_amount,Column21,Column22
0,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2013-08-01 08:14:37,2013-08-01 09:09:06,0,0,0,0,1,.00,0,0,21.25,,
2,2013-08-01 09:13:00,2013-08-01 11:38:00,0,0,0,0,2,.00,0,0,75,,
3,2013-08-01 09:48:00,2013-08-01 09:49:00,0,0,0,0,1,.00,0,1,2.1,,
4,2013-08-01 10:38:35,2013-08-01 10:38:51,0,0,0,0,1,.00,0,0,3.25,,
5,2013-08-01 11:51:45,2013-08-01 12:03:52,0,0,0,0,1,.00,0,0,9,,
6,2013-08-01 14:33:39,2013-08-01 15:49:00,0,0,0,0,1,.00,0,0,9.5,,
7,2013-08-01 17:19:00,2013-08-01 17:19:00,0,0,0,0,1,.00,0,0,4,,
8,2013-08-01 17:22:00,2013-08-01 17:22:00,-73.937767028808594,40.758480072021484,-73.937767028808594,40.758480072021484,1,.00,0,5.33,9.33,,
9,2013-08-01 17:24:00,2013-08-01 17:25:00,-73.93792724609375,40.757843017578125,-73.93792724609375,40.757843017578125,1,.00,0,1.11,5.11,,

### Filtering columns with regex

Alternatively, a `ColumnSelector` can be used to drop columns that match a regex expression. In this example, we drop all the columns that match the expression `Column*|.*longitud|.*latitude`.

In [3]:
dataflow = dataflow.drop_columns(dprep.ColumnSelector('Column*|.*longitud|.*latitude', True, True))
dataflow.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Passenger_count,Trip_distance,Tip_amount,Tolls_amount,Total_amount
0,None,None,None,None,None,None,None
1,2013-08-01 08:14:37,2013-08-01 09:09:06,1,.00,0,0,21.25
2,2013-08-01 09:13:00,2013-08-01 11:38:00,2,.00,0,0,75
3,2013-08-01 09:48:00,2013-08-01 09:49:00,1,.00,0,1,2.1
4,2013-08-01 10:38:35,2013-08-01 10:38:51,1,.00,0,0,3.25
5,2013-08-01 11:51:45,2013-08-01 12:03:52,1,.00,0,0,9
6,2013-08-01 14:33:39,2013-08-01 15:49:00,1,.00,0,0,9.5
7,2013-08-01 17:19:00,2013-08-01 17:19:00,1,.00,0,0,4
8,2013-08-01 17:22:00,2013-08-01 17:22:00,1,.00,0,5.33,9.33
9,2013-08-01 17:24:00,2013-08-01 17:25:00,1,.00,0,1.11,5.11

## Filtering rows

To filter rows, use `DataFlow.filter`. This method takes an `Expression` as an argument, and returns a new dataflow with the rows in which the expression evaluates to `True`. Expressions are built using expression builders (`col`, `f_not`, `f_and`, `f_or`) and regular operators (`>`, `<`, `>=`, `<=`, `==`, `!=`).

### Filtering rows with simple expressions

Use the expression builder `col`, specifying the column name as a string argument `col('column_name')` and in combination with one of the following standard operators `>, <, >=, <=, ==, !=`, build an expression such as `col('Tip_amount') > 0`.  Finally, pass the built expression into the `Dataflow.filter` function.

In this example, `dataflow.filter(col('Tip_amount') > 0)` returns a new dataflow with the rows in which the value of `'Tip_amount'` is greater than `0` 

*Note that `'Tip_amount'` is first converted to numeric, which allows us to build an expression comparing it against other numeric values.*

In [4]:
dataflow = dataflow.to_number(['Tip_amount'])
dataflow = dataflow.filter(dprep.col('Tip_amount') > 0)
dataflow.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Passenger_count,Trip_distance,Tip_amount,Tolls_amount,Total_amount
0,2013-08-01 19:33:28,2013-08-01 19:35:21,5,.00,0.08,0,4.58
1,2013-08-05 13:16:38,2013-08-05 13:18:24,1,.00,0.30,0,3.8
2,2013-08-05 14:11:42,2013-08-05 14:12:47,1,.00,1.05,0,4.55
3,2013-08-05 14:15:56,2013-08-05 14:18:04,5,.00,2.22,0,5.72
4,2013-08-05 14:42:14,2013-08-05 14:42:38,1,.00,0.88,0,4.38
5,2013-08-05 15:26:49,2013-08-05 15:27:58,5,.00,0.10,0,3.1
6,2013-08-05 15:28:38,2013-08-05 15:30:07,1,.00,0.80,0,3.8
7,2013-08-05 18:53:59,2013-08-05 18:57:33,1,.00,3.96,0,8.46
8,2013-08-05 18:58:31,2013-08-05 19:03:15,1,.00,2.80,0,6.8
9,2013-08-05 19:08:50,2013-08-05 19:10:16,1,.00,1.75,0,5.75

### Filtering rows with complex expressions

To filter using complex expressions, combine one or more simple expressions with the expression builders `f_not`, `f_and`, `f_or`.  

In this example, `Dataflow.filter` returns a new dataflow with the rows in which `'Passanger_count'` is less than `5` and `'Tolls_amount'` is greater than `0`.

In [5]:
dataflow = dataflow.to_number(['Passenger_count', 'Tolls_amount'])
dataflow = dataflow.filter(dprep.f_and(dprep.col('Passenger_count') < 5, dprep.col('Tolls_amount') > 0))
dataflow.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Passenger_count,Trip_distance,Tip_amount,Tolls_amount,Total_amount
0,2013-08-08 12:16:00,2013-08-08 12:16:00,1.0,.00,2.25,5.00,19.75
1,2013-08-12 14:43:53,2013-08-12 15:04:50,1.0,5.28,6.46,5.33,32.29
2,2013-08-12 19:48:12,2013-08-12 20:03:42,1.0,5.50,1.00,10.66,30.66
3,2013-08-13 06:11:06,2013-08-13 06:30:28,1.0,9.57,7.47,5.33,44.8
4,2013-08-16 20:33:50,2013-08-16 20:48:50,1.0,5.63,3.00,5.33,27.83
5,2013-08-18 10:13:44,2013-08-18 10:30:56,1.0,8.57,6.17,5.33,37
6,2013-08-19 21:02:49,2013-08-19 21:16:48,2.0,6.88,5.00,5.33,32.33
7,2013-08-20 22:20:27,2013-08-20 22:37:26,2.0,10.14,6.97,5.33,41.8
8,2013-08-21 08:55:54,2013-08-21 09:17:02,1.0,6.86,5.77,5.33,34.6
9,2013-08-22 08:26:16,2013-08-22 09:00:33,1.0,13.51,9.37,5.33,56.2

It is also possible to filter rows combining more than one expression builder to create a nested expression.

*Note that `'lpep_pickup_datetime'` and `'Lpep_dropoff_datetime'` are first converted to datetime, which allows us to build an expression comparing it against other datetime values.*

In [6]:
dataflow = dataflow.to_datetime(['lpep_pickup_datetime', 'Lpep_dropoff_datetime'], ['%Y-%m-%d %H:%M:%S'])
dataflow = dataflow.to_number(['Total_amount', 'Trip_distance'])
mid_2013 = datetime(2013,7,1)
dataflow = dataflow.filter(
    dprep.f_and(
        dprep.f_or(
            dprep.col('lpep_pickup_datetime') > mid_2013,
            dprep.col('Lpep_dropoff_datetime') > mid_2013),
        dprep.f_and(
            dprep.col('Total_amount') > 40,
            dprep.col('Trip_distance') < 10)))
dataflow.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Passenger_count,Trip_distance,Tip_amount,Tolls_amount,Total_amount
0,2013-08-13 06:11:06,2013-08-13 06:30:28,1.0,9.57,7.47,5.33,44.80
1,2013-08-23 12:28:20,2013-08-23 12:50:28,2.0,8.22,8.08,5.33,40.41
2,2013-08-25 09:12:52,2013-08-25 09:34:34,1.0,8.80,8.33,5.33,41.66
3,2013-08-25 16:46:51,2013-08-25 17:13:55,2.0,9.66,7.37,5.33,44.20
4,2013-08-25 17:42:11,2013-08-25 18:02:57,1.0,9.60,6.87,5.33,41.20
5,2013-08-26 15:35:39,2013-08-26 16:06:18,1.0,8.45,7.17,5.33,43.00
6,2013-08-28 20:52:32,2013-08-28 21:11:05,2.0,9.20,8.46,5.33,42.29
7,2013-08-29 16:05:53,2013-08-29 16:37:32,1.0,8.11,10.90,5.33,47.23
8,2013-08-29 20:53:24,2013-08-29 21:15:01,1.0,9.23,6.87,5.33,41.20
9,2013-08-30 09:13:48,2013-08-30 09:27:36,1.0,3.04,5.00,10.25,48.75